<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PostIt-Create Group</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA Compatible" content="IE-Edge">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico:400,700&effect=3d-float" rel="stylesheet">
		
	</head>
	<body>
		<div id="fullscreen_bg" class="fullscreen_bg"/>
      <div class="container-fluid">
          <h1 id="logo-create" class="font-effect-3d-float">PostIt</h1>
      </div>
      <div class="container">
      </div>
		</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	</body>
</html>