<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PostIt-Create Group</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA Compatible" content="IE-Edge">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico:400,700&effect=3d-float" rel="stylesheet">
		
	</head>
	<body>
		<div id="fullscreen_bg" class="fullscreen_bg"/>
      <div class="container-fluid">
				<div class="row well">
					<div class="col-lg-2">
        		<h1 id="logo-create" class="font-effect-3d-float">PostIt</h1>
					</div>
					<div class="col-lg-2 pull-right">
						<h4><span class="glyphicon glyphicon-cog"></span> Account</h4>
					</div>
      </div>
		</div>
		<div id="create-group" class="container">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-3">
					<h1>Send Broadcast Message</h1>
				</div>
			</div>
      <div class="row">
				<div class="col-lg-5 col-lg-offset-3">
					<h2><div class="form-group">
							<label for="sel1">Select Group</label>
							<select class="form-control" id="sel1">
								<option>Select Group</option>
								<option>Group1</option>
								<option>Group2</option>
								<option>Group3</option>
							</select>
					</div></h2>
				</div>
			</div>
      <div class="row">
				<div class="col-lg-5 col-lg-offset-3">
					<textarea class="form-control" id='message' rows='10'cols="62" placeholder="Message" required></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-3">
					<h1><span class="btn btn-block btn-lg btn-success">Send Message</span></h1>
				</div>
		</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>