<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PostIt-Group Board</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA Compatible" content="IE-Edge">
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico:400,700&effect=3d-float" rel="stylesheet">
		
	</head>
	<body>
		<div id="fullscreen_bg" class="fullscreen_bg"/>
      <div class="container-fluid">
				<div class="row well">
					<div class="col-lg-2">
        		<h1 id="logo-create" class="font-effect-3d-float">PostIt</h1>
					</div>
					<div id="user-options" class="col-lg-2 col-lg-offset-8">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Welcome, User
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
                  <li class="dropdown-header">Activities</li>
									<li><a href="groupboard.html">Notifications</a></li>
                  <li><a href="grouppost.html">Broadcast</a></li>
                  <li><a href="creategroup.html">Create Group</a></li>
									<li class="divider"></li>
									<li class="dropdown-header">Account Options</li>
									<li><a href="">Reset Password</a></li>
									<li><a href="index.html">Logout</a></li>
								</ul>
						</li>
					</ul>
					</div>
      </div>

  </div>
  <div class="container-fluid">
    <div class="col-lg-3">
      <h4>Groups</h4>
      <hr>
      <h4><ul id="group-tab">
        <li><a href="">Android Itachi</a></li>
        <li><a href="">Java Fundamentals</a></li>
        <li><a href="">Python Nigeria</a></li>
        <li><a href="">Angular Developers</a></li>
      </ul></h4>
    </div>

    <div class="col-lg-6">
      <h4>Message Board</h4>
      <hr>
      <div class="msgboard">

      </div>
    </div>
    <div class="col-lg-3">
      <h4>Recent Activities</h4>
      <hr>
      <p><a href="">Unread Notifications(5)</a></p>
      <p><a href="">Read Notifications</a></p>
      <hr>
      <p>New broadcast from @structor Java Fundamentsals</p>
    </div>
  </div>
  </div>
  </div>
  <div class="modal fade bs-example-modal-sm" id="reset" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title text-info" id="myModalLabel">Reset Password</h4>
							</div>
							<div class="modal-body">
								<input type="text" name="reset-password" placeholder="Enter Email">
								<button type="button" class="btn btn-primary">Reset</button>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
        
  <script src="./js/custom.js"></script>
  <script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	</body>
</html>