<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PostIt</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA Compatible" content="IE-Edge">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico:400,700&effect=3d-float" rel="stylesheet">
		
	</head>
	<body>
		<div id="fullscreen_bg" class="fullscreen_bg"/>
			<div class="container">
				<a href="#"><h1 id="logo" class="font-effect-3d-float"><span><img src="css/img/logo.png"></span>PostIt</h1></a>
				<h3 class="sub-head-index">Connecting and Sharing has never been more Fun</h3>
				<form class="form-signin well" action="groupboard.html">
					<h1 class="form-signin-heading text-muted">Login</h1>
					<input type="text" class="form-control" placeholder="Username or Email" required="true" autofocus="true">
					<input type="password" class="form-control" placeholder="Password" required="true">
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Login
					</button>
					<div class="checkbox">
    				<p class="text-center"><label><input type="checkbox"> Remember me </label></p>
						<p style="cursor:pointer" class="text-center bg-muted" data-toggle="modal" data-target="#reset">Forgot Password?</p>
  				</div>
					<p class="text-center">Dont have an Account?</p>
					<p class="text-center btn-info"><a class="" href="register.html" alt="">Register here</a></p>
				</form>
						
			</div>
		</div>
		<div class="modal fade bs-example-modal-sm" id="reset" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title text-info" id="myModalLabel">Reset Password</h4>
							</div>
							<div class="modal-body">
								<input type="text" name="reset-password" placeholder="Enter Email">
								<button type="button" class="btn btn-primary">Reset</button>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
	
	<script src="./js/custom.js"></script>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	</body>
</html>