<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PostIt</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA Compatible" content="IE-Edge">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico:400,700&effect=3d-float" rel="stylesheet">
		
	</head>
	<body>
		<div id="fullscreen_bg" class="fullscreen_bg"/>
			<div class="container">
				<h1 id="logo" class="font-effect-3d-float">PostIt</h1>
				<h3 class="sub-head">Connecting and Sharing has never been more Fun</h3>
				<form class="form-signin well">
					<h1 class="form-signin-heading text-muted">Login</h1>
					<input type="text" class="form-control" placeholder="Username or Email" required="true" autofocus="true">
					<input type="password" class="form-control" placeholder="Password" required="true">
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Login
					</button>
					<div class="checkbox">
    				<p><label><input type="checkbox"> Remember me </label><span><a>Forgot Password?</a></span></p>
  				</div>
					<p class="text-center">Dont have an Account?</p>
					<p class="text-center">Register <a href="" alt="">here</a></p>
					<button class="btn btn-lg btn-success btn-block" type="submit">
						Create Account
					</button>
				</form>
			</div>
		</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	</body>
</html>