<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PostIt-Register</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA Compatible" content="IE-Edge">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico:400,700&effect=3d-float" rel="stylesheet">
		
	</head>
	<body>
		<div id="fullscreen_bg" class="fullscreen_bg"/>
			<div class="container">
				<h1 class="page-head sub-head">Create Account</h1>
        <form class="">
          <div class="row">
            <div class="input-group input-group-lg col-lg-4 col-lg-offset-4">
              <span class="input-group-addon glyphicon glyphicon-user"></span>
              <input type="text" class="form-control" placeholder="Create Username" required="true">
            </div>
          </div>
         <div class="row">
            <div class="input-group input-group-lg col-lg-4 col-lg-offset-4">
              <span class="input-group-addon glyphicon glyphicon-envelope"></span>
              <input type="text" class="form-control" placeholder="Email" required="true">
            </div>
          </div>
          <div class="row">
            <div class="input-group input-group-lg col-lg-4 col-lg-offset-4">
              <span class="input-group-addon glyphicon glyphicon-phone"></span>
              <input type="number" class="form-control" placeholder="Phone Number" required="false">
            </div>
          </div>
          
          
          <div class="row">
            <div class="input-group input-group-lg col-lg-4 col-lg-offset-4">
              <span class="input-group-addon glyphicon glyphicon-lock"></span>
              <input type="password" class="form-control" placeholder="Enter Password" required="true">
            </div>
          </div>
          <div class="row">
            <div class="input-group input-group-lg col-lg-4 col-lg-offset-4">
              <span class="input-group-addon glyphicon glyphicon-check"></span>
              <input type="password" class="form-control" placeholder="Re-enter Password" required="true">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
              <button class="btn btn-lg btn-success btn-block" type="submit">
						    Submit
					    </button>
            </div>
          </div>
			</form>
		</div>
  
  <script src="./js/custom.js"></script>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	</body>
</html>